<section class="about-section">
  <h2>About Me</h2>
    <p>Mechanical and aerospace engineering student exploring intelligent aviation through unconventional aircraft design and optimization methods. <br>
      Strong background in aircraft design, manufacture, and testing through project leadership and a focus on scale demonstration of 
      aerodynamic principles through personal projects.
    </p>
  <div class="about-content">
  <div class="about-bullets-container">
  <div class="about-bullets">
  <strong>Education</strong>
  <ul>
    <li> M.S. Aeronautics and Astronautics <br>
      Stanford University <br>
      Incoming September 2026 </li>
    <li>B.S. Aerospace Engineering <br>
      University of California, Irvine <br>
      September 2022 - March 2026</li>
    <li>B.S. Mechanical Engineering <br>
      University of California, Irvine <br>
      September 2022 - March 2026</li>
  </ul>
  <strong>Roles</strong>
  <ul>
    <li>Design/Build/Fly (DBF) at UCI</li>
    <ul>
      <li>Aerodynamics Lead</li>
      <li>Project Manager</li>
      <li>Project Mentor</li>
    </ul>
    <li>ASME at UCI</li>
    <ul>
      <li>Finance Director</li>
    </ul>
    <li>University of California, Irvine</li>
    <ul>
      <li>COSMOS Teaching Assistant</li>
      <li>EECS Assistant Lab Manager</li>
    </ul>
  </ul>
  <strong>Skills</strong>
  <ul>
    <li>SolidWorks (CSWP)</li>
    <li>MATLAB</li>
    <li>Python</li>
    <li>3D-Printing</li>
  </ul>
  </div>
  </div>
  <div class="about-image">
    <img src="assets\images\Self.JPG" alt="Image of Gavin Fujimoto">
  </div>
  </div>
</section>
